<!-- <header>
  <nav>
    <h1>Navbar of the app.</h1>
  </nav>
</header> -->

<main>
  <div class="app__landing min-h-screen">
    <section class="surface-section min-h-screen">
      <div
        class="h-30rem bg-cover"
        style="
          background: url('https://lh5.googleusercontent.com/p/AF1QipPXljhf9QZZ87KB5ea3GlNzqqYqxuQs6b7I6Piu=w1080-h624-n-k-no');
        "
      ></div>
      <div
        class="flex flex-column gap-3 md:flex-row justify-content-between px-4 py-4 md:px-6 lg:px-8"
      >
        <nav>
          <ul
            class="flex list-none align-items-center gap-2 text-600 text-base line-height-3 p-0 m-0"
          >
            <li>
              <a class="cursor-pointer"><i class="pi pi-home"></i></a>
            </li>
            <li><i class="pi pi-angle-right text-xs"></i></li>
            <li><a class="cursor-pointer">Dashboard</a></li>
            <li><i class="pi pi-angle-right text-xs"></i></li>
            <li><a class="cursor-pointer">Profile</a></li>
          </ul>
        </nav>
        <div class="flex flex-column align-items-center gap-4 md:-mt-8">
          <img
            src="https://blocks.primeng.org/assets/images/blocks/avatars/circle-big/avatar-m-1.png"
            alt="Image"
            class="w-10rem border-3 border-circle border-0"
          />
          <div
            class="flex flex-column align-items-center justify-content-center"
          >
            <h1 class="m-0 font-semibold text-900 text-2xl line-height-3">
              Deepak Kumar Mohapatra
              <i class="pi pi-verified text-xl text-primary-500"></i>
            </h1>
            <span class="text-700 text-base">&#64;deepak</span>
          </div>
          <div class="flex align-items-center gap-2">
            <p-button
              label="Follow"
              [rounded]="true"
              [outlined]="false"
            ></p-button>

            <p-button
              label="Message"
              [rounded]="true"
              [outlined]="true"
            ></p-button>

            <p-button
              icon="pi pi-ellipsis-h"
              [rounded]="true"
              [outlined]="true"
            ></p-button>
          </div>
        </div>
        <div>
          <div class="card w-full">
            <span class="p-input-icon-left w-full">
              <i class="pi pi-search"></i>
              <input
                type="text"
                class="w-full"
                placeholder="Search..."
                pInputText
                [(ngModel)]="inputSearch"
              />
            </span>
          </div>
        </div>
      </div>
      <article>
        <ul
          class="list-none m-0 p-3 surface-100 flex flex-column lg:flex-row border-round"
        >
          <li
            class="flex-auto border-bottom-1 lg:border-bottom-none lg:border-right-1 p-3 surface-border"
          >
            <div class="flex flex-column align-items-center md:flex-row">
              <span
                ><img
                  src="https://blocks.primeng.org/assets/images/blocks/pageheading/stat-1.svg"
                  class="w-4rem"
              /></span>
              <div class="mt-3 md:mt-0 ml-0 md:ml-3 text-center md:text-left">
                <div class="text-lg font-medium text-800 mb-2">Followers</div>
                <span class="text-600 white-space-nowrap">Tuesday, 432</span>
              </div>
            </div>
          </li>
          <li
            class="flex-auto border-bottom-1 lg:border-bottom-none lg:border-right-1 p-3 surface-border"
          >
            <div class="flex flex-column align-items-center md:flex-row">
              <span
                ><img
                  src="https://blocks.primeng.org/assets/images/blocks/pageheading/stat-2.svg"
                  class="w-4rem"
              /></span>
              <div class="mt-3 md:mt-0 ml-0 md:ml-3 text-center md:text-left">
                <div class="text-lg font-medium text-800 mb-2">Favorites</div>
                <span class="text-600 white-space-nowrap">Thursday, 970</span>
              </div>
            </div>
          </li>
          <li class="flex-auto p-3">
            <div class="flex flex-column align-items-center md:flex-row">
              <span
                ><img
                  src="https://blocks.primeng.org/assets/images/blocks/pageheading/stat-3.svg"
                  class="w-4rem"
              /></span>
              <div class="mt-3 md:mt-0 ml-0 md:ml-3 text-center md:text-left">
                <div class="text-lg font-medium text-800 mb-2">Unfollows</div>
                <span class="text-600 white-space-nowrap">Monday, 91</span>
              </div>
            </div>
          </li>
        </ul>
      </article>
      <article>
        <div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
          <div class="grid">
            <div class="col-12 lg:col-4 p-3">
              <div
                class="shadow-2 surface-card p-3"
                style="border-radius: 12px"
              >
                <div class="flex align-items-center justify-content-between">
                  <div>
                    <span class="text-3xl text-900 font-bold">40K</span>
                    <p class="mt-1 mb-0 text-600 text-xl">Kazakhstani</p>
                  </div>
                  <div>
                    <img
                      src="https://blocks.primeng.org/assets/images/blocks/illustration/stats-illustration-4.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 lg:col-4 p-3">
              <div
                class="shadow-2 surface-card p-3"
                style="border-radius: 12px"
              >
                <div class="flex align-items-center justify-content-between">
                  <div>
                    <span class="text-3xl text-900 font-bold">24K</span>
                    <p class="mt-1 mb-0 text-600 text-xl">
                      Delhi to Manali Road Tripd
                    </p>
                  </div>
                  <div>
                    <img
                      src="https://blocks.primeng.org/assets/images/blocks/illustration/stats-illustration-5.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 lg:col-4 p-3">
              <div
                class="shadow-2 surface-card p-3"
                style="border-radius: 12px"
              >
                <div class="flex align-items-center justify-content-between">
                  <div>
                    <span class="text-3xl text-900 font-bold">15K</span>
                    <p class="mt-1 mb-0 text-600 text-xl">Deomali,Odisha</p>
                  </div>
                  <div>
                    <img
                      src="https://blocks.primeng.org/assets/images/blocks/illustration/stats-illustration-6.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </section>
  </div>
</main>

<router-outlet />
